---
---
<footer class="fixed left-0 right-0 bottom-0 h-[11vh] bg-red-500"> 
    <div class="mx-2 flex flex-row justify-between p-5 text-white font-semibold">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
    </div>
</footer>