---
import { Picture } from "astro:assets";
---

<header class="mt-4 flex flex-col p-4">
    <div class="flex flex-row justify-between md:justify-center items-start">
        <div class="flex flex-col md:pr-1">
            <h1 class="text-4xl font-extrabold italic h-10">Foodgo</h1>
            <h2 class="mt-3 text-xl text-gray-700 font-medium">
                Order your favourite food!
            </h2>
        </div>

        <a class="h-15 w-15 rounded-2xl overflow-hidden" href="/.">
            <Picture
                loading={"eager"}
                ;
                src="https://randomuser.me/api/portraits/women/9.jpg"
                ;
                widths={[128, 256]}
                ;
                width={128}
                ;
                height={128}
                ;
                class="object-cover w-full h-full"
                alt="userpic"
            />
        </a>        
    </div>
</header>
