---
import hamburger from '../assets/hamburger.png';
import { Image } from "astro:assets";
---
<a class="flex-none w-[60px] h-[60px] rounded-full overflow-hidden" href="/.">
    <Image
        loading={"eager"}
        src={hamburger}
        widths={[128, 256]}
        width={60}
        height={60}
        class="object-cover w-full h-full"
        alt="hamburger menu icon"
    />
</a>   
     