---
import hamburger from '../assets/hamburger.png';
import { Image } from "astro:assets";
---
<a class="h-15 w-15 rounded-2xl overflow-hidden" href="/.">
    <Image
        loading={"eager"}
        src={hamburger}
        widths={[128, 256]}
        width={128}
        height={128}
        class="object-cover w-full h-full"
        alt="hamburger menu icon"
    />
</a>        