---
import ProductLayout from '../layouts/ProductLayout.astro';
---
<div class="flex flex-row flex-wrap">
    
   <ProductLayout />
   <ProductLayout />
   <ProductLayout />
   <ProductLayout />
   <ProductLayout />
   <ProductLayout />

</div>