---
import Searchbar from "./Searchbar.astro";
import Menu from "./Menu.astro";
---
<nav class="flex flex-row justify-between">
    <div class="w-full"></div>

    <div class="mt-5 mb-2 flex items-center justify-center px-4 gap-4 w-full max-w-2xl">
        <Searchbar />
        <Menu class="flex-none" />    
    </div>

    <div class="w-full"></div>
</nav>