---
const allProducts = await Astro.glob("../pages/products/*.md");
const allTags = [...new Set(allProducts.flatMap(product => product.frontmatter.tags || []))];
---
<nav class="my-4 flex flex-row justify-around items-center flex-wrap gap-2">
    {allTags.map(tag => (
      <a 
      class="
      rounded-full h-12 leading-12 px-6 pb-2 
      text-gray-600 bg-gray-200 font-semibold no-underline hover:bg-red-200"
      href="/.">
          {tag}
          </a>
    ))}
  </nav>