---
const allProducts = await Astro.glob("../pages/products/*.md");
const allTags = [...new Set(allProducts.flatMap(product => product.frontmatter.tags || []))];
---
<nav class="mt-10 mb-3 mx-2 flex flex-row justify-around items-center 
overflow-x-auto hover:overflow-x-scroll no-scrollbar gap-2">
    {allTags.map(tag => (
      <a 
      class="whitespace-nowrap
      rounded-full h-12 leading-12 px-6 pb-2 mb-8
      shadow-[0_10px_5px_rgba(0,0,0,0.25)] hover:shadow-xl
      text-gray-600 bg-gray-200 font-semibold no-underline
       hover:bg-red-200 
       focus:bg-red-200 
        active:bg-red-300  /* Adds tap feedback */
        md:hover:bg-red-200 /* Double-check hover on desktop */
        touch-manipulation /* Improves mobile responsiveness */"
      href="/.">
          {tag}
          </a>
    ))}
  </nav>