---
import Header from "../components/Header.astro";
import SearchAndMenu from "../components/SearchAndMenu.astro";
import TagButtons from "../components/TagButtons.astro";
import ProductButtons from "../components/ProductButtons.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width">
		<meta name="generator" content={Astro.generator} />
		<title>Food app</title>
	</head>

	<body>
		<div id="splash-screen"
		class="fixed top-0 left-0 w-full h-full z-10 bg-red-300
		flex justify-center items-center transition-opacity duration-500 ease-out">
			<div class="flex flex-col ml-4 min-[457px]:ml-0">
				<h1 class="text-7xl font-extrabold italic">Foodgo</h1>
				<h2 class="bg-gradient-to-r from-gray-700 via-gray-400 to-gray-700 
           		bg-[length:200%_100%] animate-[shimmer_2s_infinite] text-transparent bg-clip-text
				mt-6 text-[28px] min-[375px]:text-3xl min-[425px]:text-4xl">
					<span class="whitespace-nowrap">Order your favourite</span><br />food!
				</h2>
			</div>	
		</div>

		<div id="main-content"
		class="text-[1.5rem] font-sans min-w-[320px] bg-gray-50
		 flex flex-col">
			<div class="fixed top-0 left-0 right-0 bg-gray-50">
				<div class="max-w-[1800px] mx-auto">
					<Header />
					<SearchAndMenu />
					<TagButtons />
				</div>
			</div>

			<main class="flex-grow pt-[300px] pb-[100px]">
				<div class="mt-12 mb-32"><ProductButtons /></div>
				<slot />
			</main>
			
			<Footer />
		</div>

		<script>
			document.addEventListener('DOMContentLoaded', () => {
				setTimeout(() => {
				const splash = document.getElementById('splash-screen');
				const mainContent = document.getElementById('main-content');
				
				if (!splash || !mainContent) return;
				
				splash.classList.add('opacity-0');
				
				setTimeout(() => {
					splash.classList.add('hidden');
					mainContent.classList.remove('hidden');
				}, 500);
				}, 1000);
			});
	</script>
	</body>
</html>