---
import Header from "../components/Header.astro";
import SearchAndMenu from "../components/SearchAndMenu.astro";
import TagButtons from "../components/TagButtons.astro";
import ProductButtons from "../components/ProductButtons.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width">
		<meta name="generator" content={Astro.generator} />
		<title>Food app</title>
	</head>

	<body
		class="text-[1.5rem] font-sans min-w-[320px] bg-gray-50
		 flex flex-col">
		<div class="fixed top-0 left-0 right-0 bg-gray-50">
			<div class="max-w-[1800px] mx-auto">
				<Header />
				<SearchAndMenu />
				<TagButtons />
			</div>
		</div>

		<main class="flex-grow pt-[300px] pb-[100px]">
			<div class="mt-12 mb-32"><ProductButtons /></div>
			<slot />
		</main>
		
		<Footer />
	</body>
</html>